# Created by .ignore support plugin (hsz.mobi)
### Node template


# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Intellij Specific files
.idea
*.iml

grokfiles/*
!grokfiles/grok_parse_default.conf
!grokfiles/devbox
!grokfiles/output_dev.conf

config
!config/default.json